.news {
	width: 100%;
	&__row{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
	}
}
.font-roboto{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
}
.decoration{
	text-decoration: none;
}
.news__wrap {
	width: 100%;
	margin: -15px auto;
}
.news__column {
	box-sizing: border-box;
	display: block;
	background: #FEFEFE;
}
.news__column:hover {
	box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.09), 0px 1.20588px 6.63236px rgba(0, 0, 0, 0.058643), 0px 0.500862px 2.75474px rgba(0, 0, 0, 0.045), 0px 0.181152px 0.996336px rgba(0, 0, 0, 0.031357);
}


.item-news__image {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 150px;

}
.item-news__image img{
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.item-news__title {
	padding: 29px 38px 14px 30px;
	color: #222222;
}
.item-news__title a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-weight: 700;
}
.item-news__title a:hover{
	color: #f48120;
}
.item-news__date span{
	padding: 0 259px 14px 30px;
	color: #666666;
}
.item-news__text {
	font-size: 14px;
	line-height: 150%;
	padding: 12px 30px 40px;
}


@media screen and (max-width: 930px) {
	.news {
		&__row{
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
	}
}

@media screen and (max-width: 600px) {
	.news {
		&__row{
			grid-template-columns: repeat(1, 1fr);
			gap: 30px;
		}
	}
}
